
:root {
  --primary-color: #d1c5d1;
  --secundary-color: #6100007d;
  --typefont: "Silkscreen", cursive;
  --text-secundary: "Orbitron", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: var(--text-secundary);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000000, #141414);
     min-height: 100vh;
}

/*Titulo y subtitulo principal*/
header{
  display: flex;
 justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-header-1  {
  font-family: var(--typefont);
  font-size: 4.5em;
}

.title-header-2{
  font-family: var(--typefont)  ;
  font-size: 5.2em;
}


.subtitle-header{
  color: #b900007d;
  font-family: var(--text-secundary);
  font-size:2em;
}
 
.card-prin{
  width: 200px;
  height: 200px;
}

.edit-img-carrusel{
  width: 300px;
}

.ticker {
  width: 100%;
  overflow: hidden;
  background: var(--secundary-color);
  color: white;
  padding: 10px 0;
  white-space: nowrap;
  font-family: var(--text-secundary);
}

.ticker-content {
  display: inline-flex;
  gap: 50px;
     animation: mover 30s linear(0.96 -6.62%, 0.06 90.44%) infinite;
}

@keyframes mover {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/*Carrusel*/
.carousel {
    position: relative;
    width: 250px;
    height: 330px;
    margin: 0 auto;

    border-radius: 20px;
    overflow: hidden;

    border: 2px solid rgba(255,255,255,.15);

    box-shadow:
        0 20px 40px rgba(0,0,0,.5),
        0 0 20px rgba(255, 0, 0, 0.25);

   
}


.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide.active {
  opacity: 1;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Buscador y Filtros*/

.container-filters-cards {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}
.container-filters-cards > section {
    min-width: 0;
}
.fondo-filtros{
    background: var(--secundary-color);
    margin-top: 15px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(255,255,255,.15);
}

 .column{
    justify-content: space-around;  
 }

 .column.is-2{
    width: 25%;
 }

.select{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.button{
    font-family: var(--text-secundary);
}

/*Grid de heroes*/

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  display: none; 
  justify-content: center;
  align-items: center;
}

#heroes-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
}

.cell{
    font-family: var(--text-secundary);
    font-size: 1.2em;
    text-align: center;
}

.no-heroes{
    display: flex;
    font-family: var(--text-secundary);
    font-size: 1.2em;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    z-index: 999;
}

.card {
  background: #6100007d;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 20px rgba(213, 214, 214, 0.3);
}

.card img {
  padding: 5px;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card-content {
  min-height: 100px;
  padding: 0 5px 5px 5px;
  color: white;
  text-align: center;
}
.title-card{
  color: #f0eeee;
}
.card .title {
  padding: 5px;
  margin: 0 0 5px 0;
}

.button-custom {
  font-size: 14px;
    border: 1px solid #020004;
    background: transparent;
    color: #05000a;
    border-radius: 4px;
    padding: 4px 10px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.button-custom:hover {
  background: #a855f7;
  color: white;
} 

/*Modal*/

.container-modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#hero-modal .box {
 background: var(--secundary-color);
    border-radius: 15px;
    padding: 17px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: var(--text-secundary);
}

.content-img-modal {
    width: 50%;
}

.progreso-modal {
    font-size: 0.9em;
}

.modal-background {
  background: #000000e8;
}

.modal-close {
  background-color: #e50914;
}

.modal-content {
  animation: fadeIn 0.3s ease;
   max-height: 90vh;
  overflow-y: auto;
  padding: 15px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.container-img-info{
  display: flex;
  gap: 20px;
}

.modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.modal-img img {
   width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain; 
  border-radius: 15px;
}

.modal-info {
  flex: 1;
  min-width: 0;
}

.modal-info p {
  word-break: break-word; 
}
@media (max-width: 1024px) {

  .container-filters-cards {
    flex-direction: column;
    align-items: center;
  }

  #heroes-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel {
    display: none;
  }
}
@media (max-width: 600px) {

  header{
    flex-direction: column;
    height: auto;
  }

  .content-title {
    padding: 50px 0;
  }
  .title-header-1 {
    font-size: 1em;
  }
  .title-header-2 {
    font-size: 2em;
  }

  .subtitle-header {
    font-size: 0.8em;
  }

  .container-filters-cards{
    flex-direction: column;
    align-items: center;
   }
  .carousel {
    display: none;
  }
  .modal-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .container-img-info{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
 
  #modal-content {
    height: auto;
    padding: 15px;
    
  }
 .modal-content {
    width: 95%;
  }
  
  .modal-img img {
    max-width: 140px;}

  .modal-info {
    width: 100%;
    text-align: center;
  }

  .modal-info .title {
    margin-bottom: 8px;
  }

 .chips {
    justify-content: center;
  }
   #pagina-info {
    font-size: 0.8em;
  }
}

/*Chips de afiliaciones*/

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 5px;
}

.chip {
  background:var(--secundary-color);
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  max-width: 100%;
  word-break: break-word;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* PAGINACION */

.content-pag{
 display: flex;
  align-items: center; 
  justify-content: center;
}

#pagina-info {
    font-family: var(--text-secundary);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.footer {
  background: black;
  padding: 80px 0;
  color: white;
  font-family: var(--text-secundary);
  text-align: center;
  font-size: 1em;
}